.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Roboto:700|Inconsolata:400,700);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/******************************************************************************/
/*
/* Ranges taken from Foundation (MIT License | https://github.com/zurb/foundation)
/*
/******************************************************************************/
/******************************************************************************/
/*
/* Fonts
/*
/******************************************************************************/
/* Use these to avoid Google
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url() format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url() format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url() format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url() format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url() format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url() format('truetype');
}
*/
/******************************************************************************/
/*
/* Colours
/*
/******************************************************************************/
/******************************************************************************/
/*
/* Sizes
/*
/******************************************************************************/
/******************************************************************************/
/*
/* Mixins
/*
/******************************************************************************/
/******************************************************************************/
/*
/* Elements
/*
/******************************************************************************/
html {
  background-color: #073642;
  background-color: #073642; }
html ::selection {
  background-color: #002b36; }
html ::-moz-selection {
  background-color: #002b36; }
html::selection {
  background-color: #002b36; }
html::-moz-selection {
  background-color: #002b36; }

body {
  background-color: #002b36;
  max-width: 650px;
  padding: 32px;
  font-size: 16px;
  margin: auto;
  line-height: 1.55;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: #839496; }
@media only screen {
  body {
    margin: auto;
    font-size: 15px;
    line-height: 1.3;
    padding: 16px; } }
@media only screen and (min-width: 35.063em) {
  body {
    font-size: 16px;
    line-height: 1.55;
    padding: 32px; } }
@media only screen and (min-width: 64.063em) {
  body {
    margin-left: 130px;
    margin-right: 32px; } }
body ::selection {
  background-color: #fdf6e3;
  color: #d33682; }
body ::-moz-selection {
  background-color: #073642;
  color: #d33682; }
body::selection {
  background-color: #fdf6e3;
  color: #d33682; }
body::-moz-selection {
  background-color: #073642;
  color: #d33682; }

p, blockquote, pre, hr, table, ul, ol, dl, img, video {
  margin-top: 1.6em;
  margin-bottom: 1.6em; }
@media only screen {
  p, blockquote, pre, hr, table, ul, ol, dl, img, video {
    margin-top: 1.1em;
    margin-bottom: 1.1em; } }
@media only screen and (min-width: 35.063em) {
  p, blockquote, pre, hr, table, ul, ol, dl, img, video {
    margin-top: 1.6em;
    margin-bottom: 1.6em; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #93a1a1;
  font-weight: 700;
  line-height: 1.4;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  position: relative;
  margin-top: 2.4em;
  margin-bottom: 1em; }
@media only screen {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3; } }
@media only screen and (min-width: 35.063em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4; } }
h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
  font-size: 12.8px;
  margin-right: 0.5em;
  vertical-align: top; }
@media only screen and (max-width: 35em) {
  h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
    font-size: 7.5px; } }
@media only screen {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 1em; } }
@media only screen and (min-width: 35.063em) {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.4em;
    margin-bottom: 1em; } }
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #268bd2; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  background-color: #073642; }
h1 img ::selection, h2 img ::selection, h3 img ::selection, h4 img ::selection, h5 img ::selection, h6 img ::selection {
  background-color: #002b36; }
h1 img ::-moz-selection, h2 img ::-moz-selection, h3 img ::-moz-selection, h4 img ::-moz-selection, h5 img ::-moz-selection, h6 img ::-moz-selection {
  background-color: #002b36; }
h1 img::selection, h2 img::selection, h3 img::selection, h4 img::selection, h5 img::selection, h6 img::selection {
  background-color: #002b36; }
h1 img::-moz-selection, h2 img::-moz-selection, h3 img::-moz-selection, h4 img::-moz-selection, h5 img::-moz-selection, h6 img::-moz-selection {
  background-color: #002b36; }

h6 {
  font-size: 16px;
  border-left: 1px solid #586e75; }
@media only screen and (max-width: 35em) {
  h6 {
    font-size: 15px; } }
h6:before {
  content: "* * * * * *";
  color: #859900; }

h5 {
  font-size: 19.2px;
  border-left: 1px solid #586e75; }
@media only screen and (max-width: 35em) {
  h5 {
    font-size: 16.5px; } }
h5:before {
  content: "* * * * *";
  color: #6c71c4; }

h4 {
  border-left: 1px solid #586e75;
  font-size: 20.8px; }
@media only screen and (max-width: 35em) {
  h4 {
    font-size: 18px; } }
h4:before {
  content: "* * * *";
  color: #2aa198; }

h3 {
  border-left: 1px solid #586e75;
  font-size: 25.6px; }
@media only screen and (max-width: 35em) {
  h3 {
    font-size: 21px; } }
h3:before {
  content: "* * *";
  color: #268bd2; }

h2 {
  background-color: #073642;
  border: 1px solid #586e75;
  font-size: 35.2px; }
h2 ::selection {
  background-color: #002b36; }
h2 ::-moz-selection {
  background-color: #002b36; }
h2::selection {
  background-color: #002b36; }
h2::-moz-selection {
  background-color: #002b36; }
@media only screen and (max-width: 35em) {
  h2 {
    font-size: 25.5px; } }
h2:before {
  content: "* *";
  color: #b58900; }

h1 {
  background-color: #073642;
  border: 2px solid #93a1a1;
  font-size: 43.2px;
  margin-top: 2em; }
h1 ::selection {
  background-color: #002b36; }
h1 ::-moz-selection {
  background-color: #002b36; }
h1::selection {
  background-color: #002b36; }
h1::-moz-selection {
  background-color: #002b36; }
@media only screen and (max-width: 35em) {
  h1 {
    font-size: 30px; } }
h1:before {
  content: "*";
  color: #dc322f; }

ul, ol {
  padding-left: 35px; }
@media only screen {
  ul, ol {
    padding-left: 10px; } }
@media only screen and (min-width: 35.063em) {
  ul, ol {
    padding-left: 35px; } }

ul {
  list-style: disc; }
ul ul {
  list-style: square; }
ul ul ul {
  list-style: disc; }
ul ul ul ul {
  list-style: square; }
ul ul ul ul ul {
  list-style: disc; }

ol {
  list-style: decimal-leading-zero; }
ol ol {
  list-style: lower-roman; }
ol ol ol {
  list-style: upper-latin; }
ol ol ol ol {
  list-style: lower-latin; }
ol ol ol ol ol {
  list-style: decimal-leading-zero; }

strong, b, em, i {
  color: #93a1a1; }

a {
  color: #268bd2;
  text-decoration: underline; }
a:visited {
  color: #6c71c4; }
a:focus, a:hover {
  color: #cb4b16 !important; }
a *:hover, a *:focus {
  color: #cb4b16; }
a strong, a b, a em, a i {
  color: inherit; }

code {
  background-color: #073642;
  font-family: "Inconsolata", monospace;
  padding: 1px 0.2em;
  border: 1px solid #586e75; }
code ::selection {
  background-color: #002b36; }
code ::-moz-selection {
  background-color: #002b36; }
code::selection {
  background-color: #002b36; }
code::-moz-selection {
  background-color: #002b36; }

pre {
  background-color: #073642;
  font-family: "Inconsolata", monospace;
  color: #93a1a1;
  font-size: 16px;
  border: none;
  padding: 8px; }
pre code {
  border: none; }
pre ::selection {
  background-color: #002b36; }
pre ::-moz-selection {
  background-color: #002b36; }
pre::selection {
  background-color: #002b36; }
pre::-moz-selection {
  background-color: #002b36; }
@media only screen {
  pre {
    font-size: 9.5pt; } }
@media only screen and (min-width: 35.063em) {
  pre {
    font-size: 16px; } }
@media only screen and (min-width: 35.063em) and (orientation: landscape) {
  pre {
    width: 75vw;
    min-width: 634px;
    border: 1px solid #002b36; } }

pre span {
  margin: 0; }
pre span::selection {
  background-color: #002b36; }
pre span::-moz-selection {
  background-color: #002b36; }

table {
  margin-bottom: 1em;
  border-collapse: separate;
  border-spacing: 4px;
  font-size: 14.4px; }
@media only screen {
  table {
    font-size: 13.5px; } }
@media only screen and (min-width: 35.063em) {
  table {
    font-size: 14.4px; } }

td, th {
  text-align: left;
  vertical-align: baseline;
  background-color: #073642;
  padding: 8px; }
td ::selection, th ::selection {
  background-color: #002b36; }
td ::-moz-selection, th ::-moz-selection {
  background-color: #002b36; }
td::selection, th::selection {
  background-color: #002b36; }
td::-moz-selection, th::-moz-selection {
  background-color: #002b36; }

th {
  font-weight: 700; }

blockquote {
  color: #93a1a1;
  border-left: 6px solid #586e75;
  margin-left: 0;
  padding: 8px;
  padding-left: 16px; }
@media only screen {
  blockquote {
    padding-left: 15px; } }
@media only screen and (min-width: 35.063em) {
  blockquote {
    padding-left: 16px; } }

dt {
  color: #93a1a1;
  background-color: #073642;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px; }
dt ::selection {
  background-color: #002b36; }
dt ::-moz-selection {
  background-color: #002b36; }
dt::selection {
  background-color: #002b36; }
dt::-moz-selection {
  background-color: #002b36; }

dd {
  margin-bottom: 1em; }

img {
  height: auto;
  width: auto;
  max-height: 650px;
  max-width: 100%; }

ul img, ol img, span img {
  margin-top: 0;
  margin-bottom: 0; }

video {
  max-width: 100%; }

hr {
  color: #839496;
  background-color: #839496;
  border: 1px solid #839496;
  margin: 2em auto 2em;
  width: 50%; }

nav {
  padding: 8px;
  font-size: 14.4px; }
@media only screen {
  nav {
    font-size: 13.5px; } }
@media only screen and (min-width: 35.063em) {
  nav {
    font-size: 14.4px; } }
nav a {
  margin: 0 4px; }

button {
  padding: 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  color: #268bd2;
  background-color: #073642;
  border-style: outset;
  border-color: white #586e75 #586e75 white;
  border-width: 1px 2px 2px 1px;
  font-size: 14.4px; }
button ::selection {
  background-color: #002b36; }
button ::-moz-selection {
  background-color: #002b36; }
button::selection {
  background-color: #002b36; }
button::-moz-selection {
  background-color: #002b36; }
@media only screen {
  button {
    font-size: 13.5px; } }
@media only screen and (min-width: 35.063em) {
  button {
    font-size: 14.4px; } }
button:hover {
  color: #cb4b16; }

/******************************************************************************/
/*
/* Org-mode export styles
 * (plus some org-info.js handling)
/*
/******************************************************************************/
.title {
  text-align: left; }

.todo {
  font-family: "Inconsolata", monospace;
  color: #dc322f;
  font-family: "Inconsolata", monospace; }

.done {
  color: #859900;
  font-family: "Inconsolata", monospace; }

.tag {
  background-color: #073642;
  color: #b58900;
  font-weight: 400;
  font-family: "Inconsolata", monospace;
  font-size: 100%; }
.tag ::selection {
  background-color: #002b36; }
.tag ::-moz-selection {
  background-color: #002b36; }
.tag::selection {
  background-color: #002b36; }
.tag::-moz-selection {
  background-color: #002b36; }

.timestamp, .timestamp-kwd {
  color: #2aa198;
  font-family: "Inconsolata", monospace; }

.outline-2 li {
  margin-top: 0.9em;
  margin-bottom: 0.9em; }
.outline-2 ul, .outline-2 ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

#table-of-contents li, #text-table-of-contents li, .org-info-js_local-toc li {
  margin-top: 0;
  margin-bottom: 0; }
#table-of-contents ul, #table-of-contents ol, #text-table-of-contents ul, #text-table-of-contents ol, .org-info-js_local-toc ul, .org-info-js_local-toc ol {
  margin-top: 0;
  margin-bottom: 0.3em; }

@media (orientation: landscape) {
  #text-table-of-contents {
    width: 75vw;
    min-width: 634px; } }
#text-table-of-contents li a {
  background-color: #002b36; }

#postamble {
  text-align: right;
  padding-top: 32px; }

pre.src {
  overflow: auto; }

pre.src:before {
  background-color: #073642;
  color: #93a1a1;
  top: 0;
  right: 0;
  border: none; }
pre.src:before ::selection {
  background-color: #002b36; }
pre.src:before ::-moz-selection {
  background-color: #002b36; }
pre.src:before::selection {
  background-color: #002b36; }
pre.src:before::-moz-selection {
  background-color: #002b36; }

pre.src-python:before {
  content: "Python"; }

pre {
  box-shadow: none; }

table {
  border: none; }

.section-number-1, .section-number-2,
.section-number-3, .section-number-4,
.section-number-5, .section-number-6 {
  color: #839496; }

dt {
  font-weight: 400; }

/*# sourceMappingURL=generic-dark.css.map */